<a [routerLink]="['/']">
  <img  src="https://www.understandingitaly.com/images/brands/perini-navi/perini-navi-main.jpg" style="width:610px;">
</a>

<div class="secondborder">
  <div align="center" class="div">
    <button type="button" name="button" class="btn b4"><a class="addd btn btn-dark" href="final.html">HOME</a></button>
    <button type="button" name="button" class="btn b1"><a class="addd btn btn-dark " href=" ">SPORTFISH</a></button>
    <button type="button" name="button" class="btn b2 "><a class="addd btn btn-dark"  href=" ">EXPERIENCE</a></button>
    <button type="button" name="button" class="btn b3"><a class="addd btn btn-dark"  href="noitem.html">OUT STORY</a></button>
    <button type="button" name="button" class="btn b4"><a class="addd btn btn-dark"  href="aboutus.html">INVENTORY</a></button>

  </div>